html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Times;
}
body {
    background: #0e0d0de6;
}
#background {
    background: url(wishbone.jpg);
    background-size: auto 5000px;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: calc(50% - 1100px) calc(50% - 1617px);
    position: fixed;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}
#kavafis {
    background-image: url(kavafis.jpg);
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: 1;
    position: fixed;
    background-repeat: no-repeat;
    background-color: #53524e;
    opacity: 0;
    transition: all 4s;
    background-position: center;
}
#text {
    z-index: 1;
    position: absolute;
    color: whitesmoke;
    padding: 50px;
    padding-top: 40vh;
    font-size: 70px;
    opacity: 0.5;
}
.textLine {
    margin-top: 50vh;
}
.textLine8 {
    padding-bottom: 100vh;
}
.textLine1 {
    position: relative;
    top: -50px;
}
#smallViewports {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: black;
    z-index: 1123;
    color: white;
    font-size: 80px;
}
@media handheld, screen and (max-width: 995px) {
    #smallViewports {
        display: block;
    }
    body {
        overflow: hidden;
    }
}